<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>
        Welcome back {{session['userName']}} to the home page 
    </h1>
    <h2>
        Your todos of today:
    </h2>
    <h3>
    {% for dictionary in todos: %}
        <p>
            Todo: {{dictionary['todo']}} Completed: {{dictionary['completed']}}
        </p>
    {% endfor %}
    </h3>
    <button class="logout">Logout</button>
    <script src="{{ url_for('static', filename='js/home.js') }}
    "></script>
</body>
</html>